In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
df = pd.read_excel('Metric10_data.xlsx')
df.head()

,customer_id,converted,customer_segment,gender,age,related_customers,family_size,initial_fee_level,credit_account_id,branch
0,15001,0,13,male,22.0,1,0,14.50,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,Helsinki
1,15002,1,11,female,38.0,1,0,1425666.00,afa2dc179e46e8456ffff9016f91396e9c6adf1fe20d17...,Tampere
2,15003,1,13,female,26.0,0,0,15.85,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,Helsinki
3,15004,1,11,female,35.0,1,0,106.20,abefcf257b5d2ff2816a68ec7c84ec8c11e0e0dc4f3425...,Helsinki
4,15005,0,13,male,35.0,0,0,16.10,9b2d5b4678781e53038e91ea5324530a03f27dc1d0e5f6...,Helsinki

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        891 non-null    int64
 1   converted          891 non-null    int64
 2   customer_segment   891 non-null    int64
 3   gender             891 non-null    object
 4   age                714 non-null    float64
 5   related_customers  891 non-null    int64
 6   family_size        891 non-null    int64
 7   initial_fee_level  891 non-null    float64
 8   credit_account_id  891 non-null    object
 9   branch             889 non-null    object
dtypes: float64(2), int64(5), object(3)
memory usage: 69.7+ KB